.App {
  text-align: center;
}


.App-header {
  background-color: #ffffff;
  min-height: 10vh;
 margin: 10px;
 text-align: left;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
.kinezet{
  margin: 10px;
}
.respo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width:600px) {
  .respo{
    grid-template-columns: 1fr;
  }
}